include mixins

doctype html
html(lang="en")
    +head
    
    body.text-center
        .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column  
            +navbar('editNota')
            - var error = error
            +error(error)
            main.inner.cover(role='main')
                h1.cover-heading Editar Nota
                - var nota= nota
                .container.text-left
                    .row.row-cols-2
                        .col-8
                            form.needs-validation.form-signin(method='POST' action=`/updateNota/${nota._id}?_method=PUT` enctype='multipart/form-data')
                                input(type='hidden' name='_method' value='PUT')
                                input(type='hidden' name='refName' value=nota.ref)
                                label(for='title') Titulo:
                                input#title.form-control(type='text' name='titulo' required='' value=`${nota.title}` )
                                hr        
                                label(for='imgFile') Nueva Imagen
                                input#imgFile.form-control-file(type='file' name='ref')        
                                hr            
                                label(for='desc') Descripción:
                                input#desc.form-control(type='text' name='descripcion' required='' value=`${nota.description}` )
                                hr
                                - var values= usersName
                                label(for='aaa') Usuario:
                                select#aaa.form-control(name='user')
                                    option= nota.user
                                    each val in values
                                        if val.nombre===nota.user
                                            option Anónimo
                                        else
                                            option= val.nombre
                                hr
                                .d-flex.justify-content-between.align-items-center
                                    button.btn.btn-outline-danger(type='button' data-dismiss='modal') Cancelar
                                    button.btn.btn-outline-primary(type='submit') Actualizar Nota
                        .col-4
                            label(for='img') Imagen:
                            img#img.img-thumbnail(src=`/assets/uploads/${nota.ref}` alt='ref')
            +footer
        
