include mixins

doctype html
html(lang="en")
    +head
    body.text-center
        .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column  
            +navbar('home')
            
            main.inner.cover(role='main')
                h1.cover-heading Notas App Web.
                p.lead
                    | Esta página implementa un CRUD para crear notas de manera simple. Regístrese y comience a crear sus notas para no olvidar las cosas importantes.
                p.lead
                    if user
                        a.btn.btn-lg.btn-secondary(href='#') Ud. ya esta registrado
                    else 
                        a.btn.btn-lg.btn-secondary(href='/register') Empezar a crear Notas

            +footer
        
