include mixins

doctype html
html(lang="en")
    +head
    body.text-center
        .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column  
            +navbar('login')
            - var error = error
            +error(error)
            form.needs-validation.form-signin(method='POST' action='/ingresar' novalidate)
                img.img-fluid(src='assets/img/logoFS2.png' alt='' width='260' height='100')
                hr
                h1.h3.mb-3.font-weight-normal Inicie su sesión
                label.sr-only(for='email') Email:
                input#email.form-control(type='email' name='email' placeholder='Correo electrónico' required='' value=`${email}`)
                .invalid-feedback
                    | Por favor ingrese un Email válido.
                .col-md-6.mb-3
                label.sr-only(for='inputPassword') Contraseña:
                input#inputPassword.form-control(type='password' name='password' placeholder='Contraseña' required='' value=`${password}` )
                hr
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Ingresar
                hr
                .g-signin2(data-onsuccess='onSignIn')

            +footer
        script.
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        script.
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                var id_token = googleUser.getAuthResponse().id_token;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/google');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    window.location = '/welcome';
                };
                xhr.send('idtoken=' + id_token);
            }
              
        
