include mixins

doctype html
html(lang="en")
    +head
    body.text-center
        .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column  
            +navbar('welcome')
            main.inner.cover(role='main')
                h1.cover-heading Bienvenido a esta página para crear notas.
                h2= userName
                p.lead
                    | Ud. podrá crear notas diríjase a la pestaña Notas para empezar a crear su nota.
                p.lead
                    a.btn.btn-lg.btn-secondary(href='/notas') Ir a crear Notas

            +footer
        
